workflow.json
{
  "name": "AI Meeting Notes Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-meeting",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4a5b6c7d-0001-0001-0001-000000000001",
      "name": "Webhook - Meeting Transcript",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert meeting analyst. Extract structured information from meeting transcripts and return a valid JSON object ONLY (no markdown, no explanation). The JSON must have exactly these keys: summary (string, 2-3 sentence overview), action_items (array of objects with: owner, task, due_date), decisions (array of strings), next_steps (array of strings), key_topics (array of strings). Be precise, professional, and comprehensive.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Extract meeting notes from this transcript:\\n\\nMeeting: {{ $json.body.meeting_title || 'Team Meeting' }}\\nDate: {{ $json.body.meeting_date || $now.format('YYYY-MM-DD') }}\\nAttendees: {{ $json.body.attendees || 'Not specified' }}\\n\\nTranscript:\\n{{ $json.body.transcript }}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "4a5b6c7d-0002-0002-0002-000000000002",
      "name": "Groq AI - Extract Meeting Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nconst notes = JSON.parse(raw);\nconst webhook = $('Webhook - Meeting Transcript').first().json.body;\n\nconst actionItemsHtml = notes.action_items\n  .map(a => `<tr><td style='padding:8px;border:1px solid #e0e0e0'>${a.owner || 'TBD'}</td><td style='padding:8px;border:1px solid #e0e0e0'>${a.task}</td><td style='padding:8px;border:1px solid #e0e0e0'>${a.due_date || 'TBD'}</td></tr>`)\n  .join('');\n\nconst decisionsHtml = notes.decisions\n  .map(d => `<li style='margin-bottom:6px'>${d}</li>`)\n  .join('');\n\nconst nextStepsHtml = notes.next_steps\n  .map(s => `<li style='margin-bottom:6px'>${s}</li>`)\n  .join('');\n\nconst html = `\n<html>\n<body style='font-family:Arial,sans-serif;max-width:700px;margin:0 auto;color:#333'>\n  <div style='background:#1a73e8;color:white;padding:20px 30px;border-radius:8px 8px 0 0'>\n    <h1 style='margin:0;font-size:22px'>📋 Meeting Notes</h1>\n    <p style='margin:8px 0 0;opacity:0.9'>${webhook.meeting_title || 'Team Meeting'} · ${webhook.meeting_date || new Date().toISOString().split('T')[0]}</p>\n  </div>\n  <div style='padding:30px;background:#f8f9fa;border-radius:0 0 8px 8px'>\n    <h2 style='color:#1a73e8;border-bottom:2px solid #e8f0fe;padding-bottom:8px'>Executive Summary</h2>\n    <p style='line-height:1.6'>${notes.summary}</p>\n    \n    <h2 style='color:#1a73e8;border-bottom:2px solid #e8f0fe;padding-bottom:8px;margin-top:30px'>✅ Action Items</h2>\n    <table style='width:100%;border-collapse:collapse;margin-top:10px'>\n      <tr style='background:#e8f0fe'>\n        <th style='padding:10px;border:1px solid #c5d0e6;text-align:left'>Owner</th>\n        <th style='padding:10px;border:1px solid #c5d0e6;text-align:left'>Task</th>\n        <th style='padding:10px;border:1px solid #c5d0e6;text-align:left'>Due Date</th>\n      </tr>\n      ${actionItemsHtml}\n    </table>\n    \n    <h2 style='color:#1a73e8;border-bottom:2px solid #e8f0fe;padding-bottom:8px;margin-top:30px'>🏆 Decisions Made</h2>\n    <ul style='line-height:1.8'>${decisionsHtml}</ul>\n    \n    <h2 style='color:#1a73e8;border-bottom:2px solid #e8f0fe;padding-bottom:8px;margin-top:30px'>🚀 Next Steps</h2>\n    <ul style='line-height:1.8'>${nextStepsHtml}</ul>\n    \n    <div style='background:white;border:1px solid #e0e0e0;border-radius:6px;padding:15px;margin-top:30px'>\n      <p style='margin:0;font-size:12px;color:#666'>Generated automatically by AI Meeting Notes · ${new Date().toISOString()}</p>\n    </div>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { notes, html, webhook } }];"
      },
      "id": "4a5b6c7d-0003-0003-0003-000000000003",
      "name": "Code - Format Meeting Notes HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SENDER_EMAIL }}",
        "toEmail": "={{ $node['Webhook - Meeting Transcript'].json.body.attendees_emails || $env.NOTIFICATION_EMAIL }}",
        "subject": "=📋 Meeting Notes: {{ $node['Webhook - Meeting Transcript'].json.body.meeting_title || 'Team Meeting' }} — {{ $node['Webhook - Meeting Transcript'].json.body.meeting_date || $now.format('YYYY-MM-DD') }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "4a5b6c7d-0004-0004-0004-000000000004",
      "name": "Gmail - Send Notes to Attendees",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [950, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "YOUR_GOOGLE_SHEET_ID",
        "sheetName": "Meeting Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $node['Webhook - Meeting Transcript'].json.body.meeting_date || $now.format('YYYY-MM-DD') }}",
            "Meeting Title": "={{ $node['Webhook - Meeting Transcript'].json.body.meeting_title || 'Team Meeting' }}",
            "Attendees": "={{ $node['Webhook - Meeting Transcript'].json.body.attendees }}",
            "Summary": "={{ $json.notes.summary }}",
            "Action Items Count": "={{ $json.notes.action_items.length }}",
            "Decisions Count": "={{ $json.notes.decisions.length }}",
            "Key Topics": "={{ $json.notes.key_topics.join(', ') }}",
            "Processed At": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "4a5b6c7d-0005-0005-0005-000000000005",
      "name": "Google Sheets - Log Meeting",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [950, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"meeting\": \"{{ $node['Webhook - Meeting Transcript'].json.body.meeting_title || 'Team Meeting' }}\",\n  \"summary\": \"{{ $node['Code - Format Meeting Notes HTML'].json.notes.summary.replace(/\"/g, '') }}\",\n  \"action_items_count\": {{ $node['Code - Format Meeting Notes HTML'].json.notes.action_items.length }},\n  \"decisions_count\": {{ $node['Code - Format Meeting Notes HTML'].json.notes.decisions.length }},\n  \"email_sent\": true\n}"
      },
      "id": "4a5b6c7d-0006-0006-0006-000000000006",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Webhook - Meeting Transcript": {
      "main": [
        [
          {
            "node": "Groq AI - Extract Meeting Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI - Extract Meeting Notes": {
      "main": [
        [
          {
            "node": "Code - Format Meeting Notes HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Format Meeting Notes HTML": {
      "main": [
        [
          {
            "node": "Gmail - Send Notes to Attendees",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - Log Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Notes to Attendees": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Log Meeting": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "automation" },
    { "name": "meetings" },
    { "name": "productivity" },
    { "name": "groq-ai" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "n8nVersion": "1.68.0"
  }
}
